<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="./assets/lovemu.png">
                    <span class="card-title">LoveMu</span>
                </div>
                <div class="card-content">
                    <p>
                        LoveMu is a dating website that matches users based on their music preferences. 
                        It compares user's Spotify history to see how similar their tastes are. 
                        I made this with my friends for our second-year software engineering project. 
                        It was made using Angular and Node.js, and is hosted on our college's computer society servers.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://lovemu.compsoc.ie">Check it out!</a>
                </div>
            </div>
        </div>
    </div>
</div>