<footer class="page-footer light-blue">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                <h5 class="white-text">About me</h5>
                <p class="grey-text text-lighten-4">I am a second year computer science student, and I am making this website to improve my software development skills and showcase my other projects. In addition to my love of programming, I am also an avid gamer, so many of my posts on here will be about gaming. I am also learning Swedish, so to help myself and others I will be sharing my notes on grammar and lists of vocabulary, as well as any other interesting things I find.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Other Links</h5>
                <ul>
                    <li><a class="white-text" href="https://www.linkedin.com/in/laura-odonnell/">LinkedIn</a></li>
                    <li><a class="white-text" href="https://github.com/LauraOD1211">GitHub</a></li>
                </ul>
            </div>
        </div> 
    </div>
    <div class="footer-copyright">
        <div class="container">
            Sourcecode is <a class="orange-text text-lighten-3" href="https://github.com/LauraOD1211/LauraDoesThings">here</a>
        </div>
    </div>
</footer>    