<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{title}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">There's not much here yet, but great things are on their way!!!</h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <a [routerLink]="['/projects']" class="button"><h2 class="center light-blue-text"><i class="material-icons">devices</i></h2></a>
            <h5 class="center">Projects</h5>
            <p class="light">This is a collection of projects that I have worked on, either as part of college or in my free time.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <a [routerLink]="['/swedish-notes']" class="button"><h2 class="center light-blue-text"><i class="material-icons">library_books</i></h2></a>
            <h5 class="center">Swedish Notes</h5>
            <p class="light">This is my collection of notes on Swedish vocabulary and grammar, as well as some interesting Swedish facts I have learned.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <a [routerLink]="['/blog']" class="button"><h2 class="center light-blue-text"><i class="material-icons">emoji_people</i></h2></a>
            <h5 class="center">Blog</h5>
            <p class="light">This is where I post about what's going on in my life, or just spout random nonsense.</p>
          </div>
        </div>
      </div>
    </div>
  </div>